@media screen and (max-width:1000px) {
        .column-1{
            display: grid;
            grid-template-columns: 33.33% 33.33%;
            padding: 10px;
            padding-top: 40px;
        }
        .box-1{
            width: max-content;
            
        }
    }
@media screen and (max-width:800px){
    
    .column-1{
        display: grid;
        grid-template-columns:  33.33%;
        padding: 10px;
        padding-top: 40px;
    }
    .box-1{
        width: max-content;
        
    }
}